<%= form_for @rating, :html => {:multipart => true} do |f| %>
    <br>
    <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

          <ul>
            <% @rating.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="visible-phone">
      <p>pls take the picture like this:
        <%= image_tag('iphone-camera-landscape.jpg', :class => 'iphone-image') %>
      </p>
    </div>
    <br>

    <%= f.label :pic_url, 'Upload your own', :class => 'bold' %>

    <%= f.file_field :pic_url %>

    <br>
    <br>

    <%= f.label :remote_pic_url_url,
                'Or provide with an image url', :class => 'bold' %>
    <%= f.text_field :remote_pic_url_url %>


    <div class="actions">
      <%= f.submit 'Upload Picture', :class => 'btn btn-primary' %>
    </div>
<% end %>
