<%= form_for @rating, :html => {:multipart => true} do |f| %>
    <br>
    <br>
    <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

          <ul>
            <% @rating.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :pic_url, 'Upload your own' %>

      <%= f.file_field :pic_url %>
    </p>
        <br>
    <p>
      <%= f.label :remote_pic_url_url, 'Or provide with an image url' %>
      <%= f.text_field :remote_pic_url_url %>
    </p>

    <div class="actions">
      <%= f.submit 'Upload Picture', :class => 'btn btn-primary' %>
    </div>
<% end %>
