<div id="main">

  <h1>The Pics List</h1>
  <p>Ordered by rating</p>

  <%= paginate  @pics %>
  <!--<p>Total of <%= @number_of_pics %> images</p>-->
  <!--<a class="btn" href="list">all pics</a>-->
  <% i=1
     while i<@number_of_pics %>
         <!--<a class="btn" href="list/<%= i%>"><%= i%></a>-->
  <% i += 10
     end %>
  <div class="clearfix"></div><br>
  <table class="picsTable">
    <tbody>
    <% @pics.each do |pic| %>
        <tr>
          <td>
            <div class="image_container">
              <%= image_tag(pic.pic_url, :class => 'list_pic') %>
            </div>
          </td>
          <td class="hidden-phone">Rating:<br><%= pic.rating.round(0) %></td>
          <% if  user_signed_in? &&  current_user.id==1
          %>
          <td><%= link_to 'Delete This Pic', pic,
                          :confirm => 'Are you sure?', :method => :delete %></td>
           <%end%>
    <% end %>
    </tbody>
  </table>

  <%= paginate  @pics %>
</div>